[mysqld]
server-id=1001
log_bin=mysql-bin
binlog_format=ROW
binlog_row_image=FULL
expire_logs_days=7
character-set-server=utf8mb4
collation-server=utf8mb4_0900_ai_ci
# 可选：时区
# default_time_zone = '+08:00'
